<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Address Book</title>
	</head>
	<body>
		<h1><%= @contact.name %></h1>
		<p><%= @contact.address %></p>
		<p><%= @contact.phone %></p>
		<p><%= @contact.email %></p>			
	</body>
</html>