<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<ul>
	<% @projects.each do |project| %>
		<% if project.description.present? %>
			<li><%= project.name %> - <%= project.description %></li>
		<% else %>
			<li><%= project.name %></li>
		<% end %>
	<% end %>
</ul>	
</body>
</html>
